<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <title>AudioRED</title>
  </head>

  <body class='bg-gray-800'>
    <div class=''>
      <header >
        {{!-- <h1 class=''> 
          {{#if logged_in}}
            <a class= 'text-lg-white' href='/home'>Audio<span class='text-red-500'>RED</span></a>
          {{else}}
            <a class= 'text-gray text-8xl text-shadow-outline flex justify-center p-10 max-w-max mx-auto mt-48 bg-gray-700 rounded-xl shadow-lg flex items-center' href='/home'>Audio<span class='text-red-500'>RED</span></a>
          {{/if}}
        </h1>
        <nav class="text-shadow-outline flex justify-center p-10 max-w-max mx-auto mt-28 bg-gray-700 rounded-xl shadow-lg flex items-center text-gray text-md'">
          <!-- Conditionally render login or logout links -->
        </nav> --}}
        <nav class="flex justify-between">
          <div class="grow">
          {{#if logged_in}}
            <a class='text-lg-white' href='/home'>Audio<span class='text-red-500'>RED</span></a>
          {{else}}
            <a class='text-lg-white' href='/'>Audio<span class='text-red-500'>RED</span></a>
          {{/if}}
          </div>
          <div class="flex gap-2">
          {{#if logged_in}}
            <a href='/profile'>profile</a>

            <button class=' m-2 block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0 dark:text-red md:dark:hover:text-white-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' id='logout'>Logout</button>
          {{else}}
            <a class='text-red-500' href='/login'>Login or Sign-up</a>
          {{/if}}
          </div>
        </nav>
      </header>
      <main class='py-4'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>