<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <title>AudioRED</title>
  </head>

  <body class='bg-zinc-800'>
    <div class=''>
      <header >
        <nav class="bg-zinc-950 p-4 flex justify-between">
          <div class="grow">
          {{#if logged_in}}
            <a class='text-zinc-300 text-4xl font-medium / p-1 outline outline-1 outline-zinc-700 rounded-xl shadow-lg ' href='/'>Audio<span class='font-bold text-rose-600'>RED</span></a>
          {{else}}
            <a class='text-zinc-300 text-4xl font-medium / p-1 outline outline-1 outline-zinc-700 rounded-xl shadow-lg ' href='/'>Audio<span class='font-bold text-rose-600'>RED</span></a>
          {{/if}}
          </div>
          <div class="content-center flex gap-2">
          {{#if logged_in}}
            <a class='text-rose-300 font-medium mt-2' href='/profile'>My Profile</a>

            <button class=' m-2 block py-2 pl-3 pr-4 text-zinc-600 rounded hover:bg-zinc-100 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0 dark:text-rose 8d:dark:hover:text-white-500 dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent' id='logout'>Logout</button>
          {{else}}
            <a class='text-rose-300 font-medium mt-2' href='/login'>Login or Sign-up</a>
          {{/if}}
          </div>
        </nav>
      </header>
      <main class='py-0'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>