<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src ="https://cdn.tailwindcss.com"></script>
    <title>Project 2</title>
  </head>

  <body class=" text-black">
    <div class='container mx-auto'>
      <header class='py-4'>
        
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/home'>home</a>

            <a href='/profile'>profile</a>

            <button class=' rounded py-2 px-4' id='logout'>logout</button>
          {{else}}
            <a href='/login'>Login or Register</a>
          {{/if}}
        </nav>
      </header>
      <main class='py-4'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>