<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <title>AudioRED</title>
  </head>

  <body class='bg-zinc-800'>
    <div class=''>
      <header >
        <h1 class=''> 
          {{#if logged_in}}
            <a class= 'text-zinc-300' href='/home'>Audio<span class='text-rose-600'>RED</span></a>
          {{else}}
            <a class= 'outline outline-1 outline-zinc-700 text-zinc-300 font-medium text-8xl text-shadow-outline flex justify-center p-10 max-w-max mx-auto mt-48 bg-zinc-950 rounded-xl shadow-lg flex items-center' href='/spotify/login'>Audio<span class='font-bold text-rose-600'>RED</span></a>
          {{/if}}
        </h1>
        
        <nav class="outline outline-1 outline-zinc-700 flex justify-center p-10 max-w-max mx-auto mt-28 bg-zinc-950 rounded-xl shadow-lg flex items-center text-zinc text-md">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/home'>AudioRED</a>

            <a href='/profile'>profile</a>

            <button class='text-zinc-300 font-medium' id='logout'>logout</button>
          {{else}}
            <a class='text-rose-300 font-medium' href='/login'>Login or Sign-up</a>
          {{/if}}
        </nav>
      </header>
      <main class=''>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>