<section class="">
    <nav class="flex justify-end">
        <div>
            <button class="text-xl bg-red-500 text-white px-4 py-2 rounded-md">Trending</button>
            <button class="text-xl bg-red-500 text-white px-4 py-2 rounded-md">Top 25</button>
            <button class="text-xl bg-red-500 text-white px-4 py-2 rounded-md">Most Played</button>
            <button class="text-xl bg-red-500 text-white px-4 py-2 rounded-md">Playlists</button>
        </div>
    </nav>


</section>
<br>
    <div>
        <h2 class="flex flex text-white  text-4xl">Trending Now</h2>
        <br>
        <p class="text-2xl text-white indent-80 mb-4">1</p>
    <br>
    <div>
        <h2 class="flex flex text-white text-4xl">Top 25</h2>
        <br>
        <p class="text-2xl text-white indent-80 mb-4">1</p>
    </div>
    <br>
    <div class="flex">
        <h2 class="flex flex text-4xl text-white ">Most Played</h2>
        <!-- Add API Data -->
        
    </div>
    <br>
    <div class="flex">
        <h2 class="flex text-4xl text-white ">Playlists</h2>
        <!-- Add API Data -->
        
    </div>
</section>
</section>