<div class="flex justify-center items-center w-screen h-screen bg-zinc-800">
  <div class="w-full max-w-4xl flex">
    <div class="w-full max-w-xl px-2">
      <h2 class="text-3xl font-bold mb-6 text-center text-rose-300">Login</h2>

      <form id="login-form" class="bg-zinc-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-zinc-100 text-sm font-bold mb-2" for="email-login">Email:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-100 focus:text-zinc-950 leading-tight " type="text" id="email-login" placeholder="Enter your email" />
        </div>
        <div class="mb-6">
          <label class="block text-zinc-100 text-sm font-bold mb-2" for="password-login">Password:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-100 focus:text-zinc-950 leading-tight " type="password" id="password-login" placeholder="Enter your password" />
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-rose-500 hover:bg-rose-100 text-zinc-100 font-bold py-2 px-4 rounded " type="submit">Login</button>
        </div>
      </form>
    </div>

    <div class="w-full max-w-xl px-2">
      <h2 class="text-3xl font-bold mb-6 text-center text-rose-300">Register</h2>

      <form id="signup-form" class="text-shadow-outline bg-zinc-700 shadow-lg text-zinc-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-zinc-200 text-sm font-bold mb-2" for="first-name-signup">First Name:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-200 focus:text-zinc-950 leading-tight " type="text" id="first-name-signup" placeholder="Enter your first name" />
        </div>
        <div class="mb-4">
          <label class="block text-zinc-200 text-sm font-bold mb-2" for="last-name-signup">Last Name:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-200 focus:text-zinc-950 leading-tight " type="text" id="last-name-signup" placeholder="Enter your last name" />
        </div>
        <div class="mb-4">
          <label class="block text-zinc-200 text-sm font-bold mb-2" for="email-signup">Email:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-200 focus:text-zinc-950 leading-tight " type="text" id="email-signup" placeholder="Enter your email" />
        </div>
        <div class="mb-6">
          <label class="block text-zinc-200 text-sm font-bold mb-2" for="password-signup">Password:</label>
          <input class="bg-zinc-950 focus:bg-zinc-100 shadow appearance-none border rounded w-full py-2 px-3 text-zinc-200 focus:text-zinc-950 leading-tight " type="password" id="password-signup" placeholder="Enter your password" />
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-rose-500 hover:bg-rose-200 text-white font-bold py-2 px-4 rounded " type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
